.listWrapper {
    padding-top: 75px;
    width: 300px;
    background-color: rgba(51, 51, 51, .86);
}

.list {
    pointer-events: all;
    height: calc(100vh - 75px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.listItem {
    display: flex;
    margin: 1px 9px;
    height: 35px;
    align-items: center;
}

.active {
    color: #ff5e5e;
}

.buttonBar {
    flex: 0;
    display: flex;
}

.label {
    flex: 1;
}