.wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  z-index: 100000;
  min-width: 220px;
}

.content {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.buttonBar {
  display: flex;
}

.button {
  flex: 1;
  width: 50px;
  margin-left: 0;
  box-sizing: border-box;
}

.button:last-child {
  margin-right: 0;
}

.text {
  color: #333;
  margin: 5px 0;
}

.input {
  align-self: center;
  width: calc(100% - 5px);
  margin: 5px 0px;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  background-color: #ccc;
}
