.container {
   width: 100vw;
   height: 100vh;
   position: relative;
   overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}