.upperLeftBar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1;
}

.qrList {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: all;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ccc;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.qrListItem {
  display: flex;
  margin: 0 9px;
  height: 35px;
  align-items: center;
}
