html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  color: #666;
}

:root {
  font-size: 14px;
}

:global #app {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: absolute;
}
